* {
  padding: 0px;
  margin: 0px;
  background-color: #cc66ff;
}
.title h1 {
  text-align: center;
  font-size: 700%;
  color: white;
  font-family: Anton;
}

.title p {
  text-align: center;
  font-family: Anton;
  color: #FFF;
  margin: 20px;
  font-size: 150%;
  margin-bottom: 40px;
}

.game {
  text-align: center;
}

.game img {
  width: 850px;
  display: block;
  margin: auto;
}

#scenario {
  color: #FFF;
  text-align: center;
  font-family: Anton;
  margin-top: 15px;
  font-size: 30px;
}
#submit {
  color: #FFF;  
  font-family: Anton;
  margin: 25px;
  font-size: 30px;
  background-color: #8E24AA;
  border-color: #CE93D8;
  width: 250px;
}

#retry {
  color: #FFF;  
  font-family: Anton;
  margin: 25px;
  font-size: 30px;
  background-color: #8E24AA;
  border-color: #CE93D8;
  width: 250px;
  display: none;
}

#button-title {
  color: #FFF;
  text-align: center;
  font-family: Anton;
  margin-top: 15px;
  font-size: 50px;
}

#choice {
  background-color: #8E24AA;
  color: #FFF;
  border-color: #CE93D8;
  width: 250px;
  height: 25px;
  margin-top: 20px;
}
